{%extends 'base.html'%} {% load static %} {% block content %}

<div class="d-flex flex-column p-3 gap-3">
  <div class="card p-3 shadow-sm border-0 my-card-box">
    <div class="welcome-image">
      <img
        src="{% static data.me.0.img_url %}"
        alt="{{data.me.0.img_alt}}"
        class="rounded-sm border-1"
      />
    </div>
    <div class="p-md-5 p-1">
      <h4 class="name-header mb-3">S. Han Htet San</h4>
      <p>
        <span id="time-greet">Good morning!</span> Everyone! 😊 I'm
        <span class="name">Sai Han Htet</span> (<span class="alias-name"
          >Ivan</span
        >) , a junior software developer excited about coding adventures and
        creating cool stuff.
      </p>
    </div>
    <ul class="social-list list-unstyled">
      <li>
        <a href="https://web.facebook.com/hanhtet.ivan"
          ><i class="bi bi-facebook"></i
        ></a>
      </li>
      <li>
        <a href="https://www.instagram.com/hanhtet.ivan/"
          ><i class="bi bi-instagram"></i
        ></a>
      </li>
      <li>
        <a href="https://github.com/saihanhtet"><i class="bi bi-github"></i></a>
      </li>
    </ul>
  </div>
  <div class="card p-3 shadow-sm border-0 my-card-box second-card">
    <div class="video_container">
      <video
        width="100%"
        height="auto"
        playsinline
        autoplay
        muted
        loop
        controls
      >
        <source src="{% static data.me.0.video_url %}" type="video/mp4" />
      </video>
    </div>
    <div class="p-md-5 p-1 text-end">{{data.me.0.git_content}}</div>
  </div>
  <div class="card p-3 shadow-sm border-0 my-card-box h-auto">3card</div>
</div>

{% endblock content%}
