.work-session {
  padding: 6rem 2rem;
  overflow: hidden;
}

.work-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.carousel-container {
  width: 100%;
  max-width: 450px;
  border: 1px solid var(--text-30);
  border-radius: 9px;
}

.carousel-header {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}
.carousel-header img {
  border-radius: 50%;
  border: 1px solid var(--primary-color);
}
.carousel-header span {
  font-size: large;
  font-weight: 500;
}
.carousel-content {
  text-align: justify;
  border-top: 1px solid var(--text-30);
  border-bottom: 1px solid var(--text-30);
  position: relative;
  min-height: 418px;
  max-width: 418px;
  min-width: 418px;
  width: 100%;
  overflow: hidden;
}

.left-btn,
.right-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 19px;
  width: fit-content;
  padding: 20px;
  margin: 0;
  height: 100%;
}

.left-btn {
  left: 0; /* Position the left arrow to the left side */
}

.right-btn {
  right: 0; /* Position the right arrow to the right side */
}
.carousel-footer {
  padding: 10px;
  max-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.carousel-footer .left,
.carousel-footer .right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.insta-icon {
  cursor: pointer;
  font-size: clamp(1.09rem, 1.42vw + 0.74rem, 1.88rem);
  min-width: 24px;
  min-height: 24px;
  outline: 1px;
  stroke-width: 1.4;
  stroke: #333;
}

.insta-icon:not(:first-child) {
  stroke-width: 2px;
}

.insta-icon.saved {
  stroke-width: 2px;
}

/* carousel wrappers */
.carousel {
  pointer-events: none;
  position: absolute;
  padding-block-start: 67px;
  padding-block-end: max(
    24px,
    29px + clamp(1.09rem, 1.42vw + 0.74rem, 1.88rem)
  );
  perspective: 100px;
  width: 100%;
}
.carousel-wrapper {
  top: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  height: 61.2vh;
}

.carousel .item {
  position: absolute;
  max-width: 418px;
  height: 100%;
  margin-inline: 32px;
  opacity: 0;
  will-change: transform, opacity;
  animation: carousel-animate 27s cubic-bezier(0.37, 0, 0.63, 1) infinite;
}
@media (max-width: 568px) {
  .carousel .item {
    margin-inline: calc(32px + 1px);
  }
}
.carousel .item:nth-child(1) {
  animation-delay: calc(3.8571428571s * -1);
}
.carousel .item:nth-child(2) {
  animation-delay: calc(3.8571428571s * 0);
}
.carousel .item:nth-child(3) {
  animation-delay: calc(3.8571428571s * 1);
}
.carousel .item:nth-child(4) {
  animation-delay: calc(3.8571428571s * 2);
}
.carousel .item:nth-child(5) {
  animation-delay: calc(3.8571428571s * 3);
}
.carousel .item:nth-child(6) {
  animation-delay: calc(3.8571428571s * 4);
}
.carousel .item:last-child {
  animation-delay: calc(-3.8571428571s * 2);
}
.carousel img {
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: center;
  height: 100%;
}

@media screen and (max-width: 998px) {
  .carousel {
    padding-block-end: 52px;
  }
  .carousel-content {
    width: auto;
  }
  .carousel-content {
    max-width: 90vw;
    min-width: 90vw;
  }
}

@keyframes carousel-animate {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateX(200%) scale(0.7);
  }
  3%,
  14.2857142857% {
    visibility: visible;
    opacity: 0.8;
    transform: translateX(100%) scale(0.9);
  }
  17.2857142857%,
  28.5714285714% {
    visibility: visible;
    opacity: 1;
    transform: translateX(0) scale(1);
  }
  31.5714285714%,
  42.8571428571% {
    visibility: visible;
    opacity: 0.8;
    transform: translateX(-100%) scale(0.9);
  }
  45.8571428571% {
    visibility: visible;
    opacity: 0;
    transform: translateX(-200%) scale(0.9);
  }
  100% {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-200%) scale(0.7);
  }
}

.image-container {
  position: relative;
  display: inline-block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the transparency as needed */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.overlay p {
  margin: 0;
  padding: 5px;
}
