.work-session {
  padding: 6rem 2rem;
  overflow: hidden;
}

.work-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

@media screen and (max-width: 998px) {
}
