@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0px dashed black;
}

:root {
  --oil-black: rgb(12, 12, 12);
  --obsidian: rgb(11, 18, 21);
  --dark-slate-gray: rgb(13, 23, 23);
  --midnight-blue: rgb(16, 23, 32);
  --charcoal-gray: rgb(23, 23, 23);
  --deep-navyblue: rgb(1, 18, 34);
  --rich-black: rgb(2, 13, 25);
  --low-white: rgb(247, 237, 232);
  --red: rgb(236, 81, 89);
  --bold-color: rgb(255, 215, 0);

  --primary-dark-color: rgb(48, 25, 52);
  --primary-white-color: var(--low-white);
}

.theme-light {
  --primary-color: rgb(247, 237, 232);
  --primary-30: rgba(247, 237, 232, 0.3);
  --navbar-color: rgb(255, 255, 255);
  --navbar-30: rgba(255, 255, 255, 0.3);
  --secondary-color: rgb(236, 81, 89);
  --text-color: rgb(12, 12, 12);
  --text-30: rgb(12, 12, 12, 0.3);
  --active-color: rgb(236, 81, 89);
  --reverse-primary: rgb(48, 25, 52);
  --reverse-secondary: rgb(255, 215, 0);
  --reverse-text: rgb(247, 237, 232);
}

.theme-dark {
  --primary-color: rgb(48, 25, 52);
  --primary-30: rgba(48, 25, 52, 0.3);
  --navbar-color: rgb(1, 18, 34);
  --navbar-30: rgba(1, 18, 34, 0.3);
  --secondary-color: rgb(255, 215, 0);
  --text-color: rgb(247, 237, 232);
  --text-30: rgb(247, 237, 232, 0.3);
  --active-color: rgb(255, 215, 0);
  --reverse-primary: rgb(247, 237, 232);
  --reverse-secondary: rgb(236, 81, 89);
  --reverse-text: rgb(12, 12, 12);
}

body {
  background-color: var(--primary-color) !important;
  color: var(--text-color) !important;
  font-family: "Roboto", sans-serif !important;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.no-copy {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.bg-transparent {
  background-color: transparent !important;
}

.card {
  background-color: var(--navbar-color);
  color: var(--text-color) !important;
}

.navbar {
  background-color: transparent !important;
  transition: background-color 1s ease;
  padding: 0 15px;
}

.navbar.scrolled {
  background-color: var(--navbar-color) !important;
}

.navbar .container-fluid,
.navbar-nav {
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .container-fluid {
  gap: 20px;
}

.navbar-brand {
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  order: 2;
}

.navbar a:not(:first-child) {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}

.nav-link.active {
  color: var(--active-color) !important;
  font-weight: 600;
}

.nav-link {
  color: var(--text-color);
  cursor: pointer !important;
}

.navbar a span {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 25px !important;
}

.navbar a {
  color: var(--text-color) !important;
  text-transform: capitalize;
  letter-spacing: 1px;
  pointer-events: auto;
}

.navbar-toggler {
  outline: none !important;
  border: 0 !important;
  box-shadow: none !important;
  order: 1;
}

.navbar-collapse {
  order: 3;
  transition: all 0.3s ease-in-out;
}

.navbar-toggler:focus svg {
  fill: var(--secondary-color) !important;
}

.navbar-toggler svg {
  width: 25px;
  height: 25px;
  fill: var(--text-color) !important;
}

a.disabled {
  cursor: help !important;
  pointer-events: auto;
}

.matrix-container {
  width: 99vw !important;
  overflow: hidden;
  position: fixed;
  background-color: transparent;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  z-index: -1;
}

.matrix-text {
  background-color: transparent;
  color: #c17eff !important; /* Color of the matrix text */
  font-family: "Courier New", monospace;
  font-size: 16px;
  position: absolute;
  pointer-events: none;
  user-select: none;
}

.theme-toggler {
  background-color: inherit;
  border: none;
  width: auto;
  height: auto;
  order: 3;
}
.theme-toggler .bi {
  color: var(--secondary-color) !important;
  width: 30px !important;
  height: 30px !important;
}

.toggle-chat-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  outline: none !important;
  border: 0 !important;
  box-shadow: none !important;
}

.ref-container {
  font-size: 14px;
  color: #333;
  /* Add more styles as needed */
}

.ref-container a {
  text-decoration: none;
  color: #007bff;
}

.ref-container a:hover {
  text-decoration: underline;
}

.chat-input {
  outline: none !important;
  border: 0 !important;
  box-shadow: none !important;
  font-family: "Roboto", sans-serif !important;
}
.chat-input:focus {
  border-radius: 0px;
  border-bottom: 1px solid var(--reverse-primary) !important;
}

.chat-field .body {
  padding: 10px;
  height: 90%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Spacing between messages */
}

.chatters {
  padding: 8px;
  border: none;
  border-radius: 20px;
  background-color: #e4dcdc;
  color: black;
  width: fit-content;
  max-width: 70%;
  word-wrap: break-word;
}
/* Align bot messages to the left */
.chatters.chat-bot {
  align-self: flex-start;
  border-radius: 10px 10px 10px 0px;
}
/* Align user messages to the right */
.chatters.chat-user {
  align-self: flex-end;
  border-radius: 10px 10px 0 10px;
}

/* My home Page */

.home_page h4 {
  font-size: 22px;
  font-weight: 700;
  text-shadow: none;
  letter-spacing: 1px;
  font-family: "Kanit", sans-serif;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}
.my-card-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: calc(100vh - 110px);
  background-color: var(--navbar-30) !important;
}
.second-card {
  height: auto !important;
  background-color: transparent !important;
}
.second-card div:first-child {
  height: auto !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 5px;
  order: 1;
}
.second-card div:nth-child(2) {
  order: 0;
}
.my-card-box div:nth-child(2) {
  flex: 1;
}
.my-card-box .name-header {
  font-family: "Kanit", sans-serif;
}
.my-card-box p {
  font-family: "Roboto", sans-serif;
}
.video_container {
  flex: 0 0 auto;
  width: 360px;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  background-color: var(--primary-color);
  border: 5px dotted var(--text-30);
}
.video_container video {
  border-radius: 10px;
}
.welcome-image {
  flex: 0 0 auto;
  width: 360px;
  height: auto;
  overflow: hidden;
  border-radius: 100%;
  padding: 5px;
  border: 5px dotted var(--text-30);
}

.welcome-image img {
  background-color: #011222;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
  opacity: 0.9; /* 0.9 might be more whiter */
}
.social-list {
  display: flex;
  gap: 30px;
  flex-direction: row;
}

.social-list a {
  color: inherit;
  font-size: 22px;
}

.social-list a:hover {
  color: var(--secondary-color) !important;
}

/* about me */
.about-container {
  overflow-y: auto;
}
.about-items .nav-item {
  margin-right: 10px;
}
.about-items .nav-link.active {
  background-color: inherit;
  border: none;
}
.about-items .nav-link {
  width: 100%;
  outline: none !important;
  border: 0 !important;
  box-shadow: none !important;
}
.about-items .nav-link:focus {
  outline: 1px solid var(--secondary-color);
}
.story-board .container-fluid {
  text-align: justify;
}
.status-container {
  gap: 10px;
  flex-wrap: wrap;
}
.status-container ul {
  min-width: 300px;
}
.status_img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}
/* icons list*/
.lang-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.icon-card {
  position: relative;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 300ms ease-in;
}

.icon-card:hover {
  backdrop-filter: blur(15px);
  border: 1px solid var(--secondary-color);
}

.icon-card svg {
  width: 100px;
  height: 100px;
  size: 100px;
}

@media (max-width: 768px) {
  .welcome-image {
    max-width: 100%;
    width: 100%;
  }
  .video_container {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
}
@media (min-width: 1025px) {
  .my-card-box {
    flex-direction: row !important;
  }
  .welcome-image {
    width: 360px;
    height: 360px;
  }

  .social-list {
    flex-direction: column !important;
  }
}

/* scrollbar css */

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-track {
  background: var(--reverse-primary);
}
::-webkit-scrollbar-thumb {
  background: var(--active-color);
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* marquee */
.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  box-sizing: border-box;
}

.text {
  display: inline-block;
  padding-right: 50%;
  animation: slide 30s linear infinite;
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
