@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 1px dashed black;
}

:root {
  --oil-black: #0c0c0c;
  --obsidian: #0b1215;
  --dark-slate-gray: #0d1717;
  --midnight-blue: #101720;
  --charcoal-gray: #171717;
  --deep-navyblue: #011222;
  --rich-black: #020d19;
  --low-white: #f7ede8;
  --red: #d11d27;
  --bold-color: gold;

  --primary-dark-color: #301934;
  --primary-white-color: var(--low-white);
}

.theme-light {
  --primary-color: var(--primary-white-color);
  --navbar-color: #fff;
  --secondary-color: var(--red);
  --text-color: var(--oil-black);
  --active-color: var(--red);
}

.theme-dark {
  --primary-color: var(--primary-dark-color);
  --navbar-color: var(--deep-navyblue);
  --secondary-color: var(--bold-color);
  --text-color: var(--primary-white-color);
  --active-color: var(--bold-color);
}

body {
  background-color: var(--primary-color) !important;
}

.navbar {
  background-color: var(--navbar-color) !important;
}

.navbar .container-fluid,
.navbar-nav {
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .container-fluid {
  gap: 20px;
}

.navbar-brand {
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  order: 2;
}

.navbar a:not(:first-child) {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}

.nav-link.active {
  color: var(--active-color) !important;
  font-weight: 600;
}

.nav-link {
  color: var(--text-color);
}

.navbar a span {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 25px !important;
}

.navbar a {
  color: var(--text-color) !important;
  text-transform: capitalize;
  letter-spacing: 1px;
  pointer-events: auto;
}

.navbar-toggler {
  outline: none !important;
  border: 0 !important;
  box-shadow: none !important;
  order: 1;
}

.navbar-collapse {
  order: 3;
}

.navbar-toggler:focus svg {
  fill: var(--secondary-color) !important;
}

.navbar-toggler svg {
  width: 25px;
  height: 25px;
  fill: var(--text-color) !important;
}

a.disabled {
  cursor: help !important;
  pointer-events: auto;
}

.matrix-container {
  position: absolute;
  background-color: transparent;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5; /* Adjust opacity as needed */
  z-index: -1;
}

.matrix-text {
  background-color: transparent;
  color: var(--secondary-color) !important; /* Color of the matrix text */
  font-family: "Courier New", monospace;
  font-size: 16px;
  position: absolute;
  pointer-events: none;
  user-select: none;
}

.theme-toggler {
  background-color: inherit;
  border: none;
  width: auto;
  height: auto;
  order: 3;
}
.theme-toggler .bi {
  color: var(--secondary-color) !important;
  width: 30px !important;
  height: 30px !important;
}
