{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sai Han Htet</title>

    <!-- Meta tags for SEO -->
    <meta name="description" content="This is my portfolio website." />
    <meta name="author" content="Sai Han Htet" />
    <meta name="keywords" content="freelancer, developer, software engineer" />

    <!-- link files -->
    <link rel="icon" type="image/png" href="{% static 'icons/icon.png' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <div class="matrix-container"></div>
    {% include 'navbar.html' %}
    <div class="container-fluid p-2">
      {% block content %}{%endblock content%}
    </div>
    {% include 'chat_bot.html' %} {% include 'ref.html' %}
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"
  ></script>

  <script src="{% static 'scripts.js' %}"></script>
</html>
